<%= form_with model: @clockin, local: true, class: 'form' do |form| %>
  <div class="field">
    <div class="control">
      <%= form.label :name, 'Full Name', class: 'label' %>
    </div>  
    <%= form.text_field :name, placeholder:'Please Enter Full Name', class: 'input is-rounded' %>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :time_logged, class: 'label' %>
    </div>  
    <%= form.datetime_field :time_logged, class: 'input is-rounded' %>
  </div>
  <div class="field">
    <div class="control">
      <%= form.check_box :clocking_in, class: 'checkbox' %>
      <%= form.label :clocking_in, 'Check Box to Clock In', class: 'label' %>
    </div>
  </div>
  <%= form.submit 'Edit Clock Event #' + @clockin.id.to_s, class: 'button is-info' %>
<% end %>
