<%= form_with scope: :clockin, url: clockins_path, local: true, class: 'form' do |form| %>
  <div class="form__field">
    <div class="form__field__header">
      <%= form.label :name, 'Your Name', class: 'form__field__header__label' %>
    </div>  
    <%= form.text_field :name, class: 'form__field__input' %>
  </div>
  <div class="form__field">
    <div class="form__field__flex">
      <%= form.check_box :clocking_in, class: 'form__field__checkbox' %>
      <%= form.label :clocking_in, 'Check Box to Clock In', class: 'form__field__checkbox__label' %>
    </div>
  </div>
  <%= form.submit 'Create Clock In/Out Event', class: 'button' %>
<% end %>
