<%= form_with scope: :clockin, url: clockins_path, local: true, class: 'form' do |form| %>
  <div class="field">
    <div class="control">
      <%= form.label :name, 'Full Name', class: 'label' %>
    </div>  
    <%= form.text_field :name, placeholder:'Please Enter Full Name', class: 'input is-rounded' %>
  </div>
  <div class="field">
    <div class="control">
      <%= form.check_box :clocking_in, class: 'checkbox' %>
      <%= form.label :clocking_in, 'Clock In/ Out', class: 'checkbox'%>
    </div>
  </div>
  <%= form.submit 'Clock In/Out ', class: 'button is-primary' %>
<% end %>


