<div class="container">
   <%
      @main = {
        title: 'Edit Clock In',
        description: 'You can clock out from here',
      }
      %>
   <%= render 'main' %>
   <%= form_with model: @clockin,local: true, class: 'form' do |f| %>
   <div class="field">
      <div class="control">
         <%= f.label :name, 'Full Name', class: 'label' %>
      </div>
      <%= f.text_field :name, placeholder:'Please Enter Full Name', class: 'input is-rounded' %>
   </div>
   <div class="field">
      <div class="control">
         <%= f.label :time_logged,'Time Logged in UTC', class: 'label' %>
      </div>
      <%= f.datetime_field :time_logged, class: 'input is-rounded' %>
   </div>
   <div class="field">
      <div class="control">
         <%= f.check_box :clocking_in, class: 'check_box' %>
         <%= f.label :clocking_in, 'Clock In/ Out', class: 'check_box'%>
      </div>
   </div>
   <%= f.submit 'Edit Clock Event' , class: 'button is-info' %>
   <% end %>
</div>