<div class="container">
   <%
      @main = {
        title: 'Clock In',
        description: 'Please clock your time'
      }
      %>
   <%= render 'main' %>
   <div class="section">
   <%= simple_form_for :clockin, url: clockins_path, local: true, class: 'form' do |f| %>
   <div class="field">
      <div class="control">
         <%= f.label :name,'Full Name', class: 'label' %>
      </div>
      <%= f.input_field :name, placeholder:'Please Enter Full Name', class: 'input is-rounded', type:'text', required:"required" %>
   </div>
   <div class="field">
      <div class="control">
         <%= f.label :time_logged,'Time Logged', class: 'label' %>
      </div>
      <%= f.date_field :time_logged, class: 'input is-rounded' ,type:"date" %>
   </div>
   <div class="field">
      <div class="control">
         <%= f.check_box :clocking_in, class: 'check_box' %>
         <%= f.label :clocking_in, 'Are you sure you want to clock in?', class: 'check_box'%>
      </div>
   </div>
   <%= f.submit 'Clock In/Out ', class: 'button is-primary' %>
   <% end %>
</div>
</div>

